@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
}

.login-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 50px;  
}

.form-container {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 60px 40px;
  width: 100%;
  max-width: 550px;  
  flex: 1;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.login-title {
  text-align: center;
  font-size: 28px;
  font-weight: normal;  
  margin-bottom: 40px;
}

.form-label {
  font-weight: normal;  
  font-size: 16px;
  margin-top: 10px;
}

.form-control {
  width: 100%;
  background-color: #FFF;
  border-radius: 8px;
  border: 1px solid black; 
  padding: 12px; 
  font-size: 16px;
  margin-top: 10px;  
  margin-bottom: 20px; 
}


.btn-primary {
  background-color: #014F91;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  width: 100%;  
}

.btn-primary:hover {
  background-color: #013366;
}

.image-container {
  background-color: #014F91;
  color: white;
  text-align: center;
  padding: 80px 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 550px;  
  flex: 1;
  height: 650px;
}

.image-text {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: normal;  /* Remove o negrito do texto da imagem */
}

img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
}

.text-center {
  text-align: center;
}

.alert-danger {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #d43f00;
}

.mt-3 {
  margin-top: 1rem;
}

.small {
  font-size: 0.875rem;
}

.card {
  border-radius: 12px;
}

.card .form-label {
  font-weight: normal;  /* Remove o negrito das labels no card */
}
