@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f8f9fa;
}

.backgroundBlue {
  background-color: #014F91;
}

.btn-primary {
  background-color: #014F91;
  border: none;
}

.btn-primary:hover {
  background-color: #014F91;
}

a {
  color: #014F91;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card {
  min-height: 570px;
}

.form-control {
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
  border-color: black;
  padding: 8px;
  font-size: 14px;
}
